
.container
{
    margin-right: 8px;
    text-align: left; 
    margin: auto;
   
    /* background-color:rgb(241, 200, 212); */
   
}




.row {
 width:600px;
  padding: 20px;
  text-align: left;
} 
  /* <table class=>
  <thead>
      <tr>
        <th>PIZZA-ID</th>
        <th>PIZZA-NAME</th>
        <th>PRICE</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody> */
