<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class = "row">
<div class="col-sm-4">

 <img width="350" alt="Pizzaa Logo" src="/assets/image/pijja.jpg"></div>
<div class="col-sm-8" style="background-color:lavenderblush;"><h1>WELCOME {{ title }}! </h1></div>
</div>
<app-prod-get> </app-prod-get>
</div>
<router-outlet></router-outlet> -->

<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class = "row">
<div class="col-sm-4">

 <img width="300" alt="Pizzaa Logo" src="/assets/image/pijja.jpg"></div>
<div class="col-sm-8" ><h1>WELCOME {{ title }}! </h1></div>
</div>
<app-prod-get> </app-prod-get>
</div>
<router-outlet></router-outlet>
